{% extends "layout.html" %}

{% block content %}
<h2>Human Resources - Employees</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Employee No</th>
            <th>Name</th>
            <th>Title</th>
            <th>Department</th>
            <th>Division</th>
            <th>Employment Start Date</th>
            <th>Employment End Date</th>
            <th>Is Active</th>
        </tr>
    </thead>
    <tbody>
        {% for emp in employees %}
        <tr>
            <td>{{ emp.employee_no }}</td>
            <td>{{ emp.employee_name }}</td>
            <td>{{ emp.title }}</td>
            <td>{{ emp.department_name }}</td>
            <td>{{ emp.division_name }}</td>
            <td>{{ emp.employment_start_date.strftime('%Y-%m-%d') if emp.employment_start_date else '' }}</td>
            <td>{{ emp.employment_end_date.strftime('%Y-%m-%d') if emp.employment_end_date else '' }}</td>
            <td>{{ 'Yes' if emp.is_active else 'No' }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('main.add_employee') }}" class="btn btn-primary mb-3">Add Employee</a>
{% endblock %}
